rabbit.host=
rabbit.port=
rabbit.virtualhost=
rabbit.username=
rabbit.password=
rabbit.queuename=
rabbit.no_xml=

rabbit.move.host=
rabbit.move.port=
rabbit.move.username=
rabbit.move.password=
rabbit.move.move_requests=

rabbit.fxp.host=
rabbit.fxp.port=
rabbit.fxp.username=
rabbit.fxp.password=
rabbit.fxp.move_requests=

pid.host=
pid.port=
pid.basepath=
pid.path=

sensor.host=
sensor.port=
sensor.basepath=
sensor.path=
sensor.id=
sensor.username=
sensor.password=
sensor.minfreepercentage=

db.host=
db.port=
db.username=
db.password=
db.database=
db.eventstable=
db.buffer=

db.zeticon.host=
db.zeticon.port=
db.zeticon.username=
db.zeticon.password=
db.zeticon.database=
db.zeticon.tablename=

ftpDestination.vrt.username=
ftpDestination.vrt.password=
ftpDestination.vrt.host=
ftpDestination.vrt.path=

ftpDestination.meise.username=
ftpDestination.meise.password=
ftpDestination.meise.host=
ftpDestination.meise.path=

ftp.failuresFolder=

cp=

ftpDestinationSidecar.username=
ftpDestinationSidecar.password=
ftpDestinationSidecar.host=

ftpDestinationCollateral.username=
ftpDestinationCollateral.password=
ftpDestinationCollateral.host=

ftpDestinationMetadata.username=
ftpDestinationMetadata.password=
ftpDestinationMetadata.host=

mime2ext.host=
mime2ext.port=

ftpSource.host=
ftpSource.username=
#ftpSource.password=
ftpSource.password=

ftpSourceTape.username=
ftpSourceTape.password=
ftpSourceTape.host=

aspect_ratio_api.host=
aspect_ratio_api.port=
