---
environment: ""
rabbit:
  host: ""
  port: ""
  virtualhost: ""
  username: ""
  password: ""
db: 
  host: ""
  port: ""
  username: ""
  password: ""
  database: ""
  eventstable: ""
  buffer: ""
  zeticon: 
    host: ""
    port: ""
    username: ""
    password: ""
    database: ""
    tablename: ""
ftpSource: 
  host: ""
  username: ""
  password: ""
